html, body{
    margin: 0;
    padding: 0;
    --bg-color: #ac8eff;
    --secondary-bg-color: #e2d8ff;
    --primary-color: #ffffff;
    --secondary-color: #5bb2ff;
    --text-primary-color: #212122;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3fd4fb",endColorstr="#468afc",GradientType=1);
    color: var(--text-primary-color);
}
body{
    width: 100%;
    height: 100%;
    overflow: auto;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc25b",endColorstr="#ffa63b",GradientType=1);
    font-family: PlusJakartaSans;
}

@font-face {
    font-family: PlusJakartaSans;
    src: url(../assets/fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Josefin;
    src: url(../assets/fonts/Josefin/JosefinSans.ttf);
}

@font-face {
    font-family: comicalCartoon;
    src: url(../assets/fonts/ComicalCartoon/ComicalCartoon.ttf);
}

h1, h2, h3, h4, h5 {
    font-family: Josefin;
}

.button {
    font-family: comicalCartoon;
}

.container {
    display: flex;
}

.loader {
    width: 50px;
    height: 50px;
    border-bottom: 2px solid #004433;
    border-left: 2px solid #004433;
    border-radius: 50px;
    animation: loading 1.5s ease-out infinite;
}

@keyframes loading {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.main-container {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
}

.display-container {
    width: 100%;
    background-color: white;
    border-radius: 20px ;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.inside-container {
    margin: 10px;
    padding: 10px  0;
}

.display-none{
    display: none;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
}

code {
    background-color: #dbdbdb;
    text-wrap: nowrap;
    padding: 1px 3px;
    border-radius: 3px;
}

button {
   border-radius: 5px;
   border: none;
   background-color: var(--bg-color);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   border: 2px solid var(--bg-color);
   padding: 5px;
   font-weight: bold;
   cursor: pointer;
   font-family: Josefin;
}

.mt-20 {
    margin-top: 20px;
}

.full-btn {
    width: 100%;
}

fieldset {
    margin-top: 10px;
    border: none;
    display: flex;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    font-family: Josefin;
}

.checkbox-filter {
    font-family: Josefin;
    padding: 5px;
    border-radius: 50px;
    background-color: #dfdfdf; 
}
